*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow:hidden;
    width: 100%;
    height: 100vh;
    
}

.sun {
    
    width: 100px;
    height: 100px;
    background-color: #f0c63d;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    animation: move 8s linear infinite, 
    sun_to_moon 16s  linear  infinite;
}

.grass {
    position: absolute;
    bottom: 0;
    width: 100%;
    left:0px;
    height:15%;
    background-color: #309627;
}
@keyframes move {
    0% {
        top: 75%;
        left: -5%    
    }
    20% {
        top: 50%;
    }
    40% {
        top: 40%;
    }
    45% {
        top: 35%;
    }
    55% {
        top: 35%;
    }
    60% {
        top: 40%;
    }
    80% {
        top: 50%;
    }
    100% {
        top: 75%;
        left: 105%;
        
    }
}
.sky{
    position: absolute;
    top: 0;
    width:100%;
    height:85%;
}
.sky-day{ 
    background:linear-gradient(80deg,#8dc8da 0%,#78b2ea 55%,#4b86c5 100%);
    animation:dayFade 16s linear infinite;
}
.sky-night{
    background:linear-gradient(280deg,#3a4680 0%,#1b2550 55%,#050814 100%);
    animation:nightFade 16s linear infinite;
    ;
}



.stars span{
    position: absolute;
    height: 3px;
    width: 3px;
    background-color: white;
    border-radius: 100%;
    inset: 0;
    transform-origin: left bottom;
    position: absolute;
    animation: stars-reveal 16s linear infinite;
}   
.stars span:nth-child(1){
    top: 5%;
    left: 5%;
}
.stars span:nth-child(2){
    top: 15%;
    left: 25%;
}
.stars span:nth-child(3){
    top: 25%;
    left: 15%;
}
.stars span:nth-child(4){
    top: 35%;
    left: 35%;
}
.stars span:nth-child(5){
    top: 25%;
    left: 10%;
}
.stars span:nth-child(6){
    top: 25%;
    left: 30%;
}
.stars span:nth-child(7){
    top: 25%;
    left: 30%;
}
.stars span:nth-child(8){
    top: 15%;
    left: 40%;
}
.stars span:nth-child(9){
    top: 10%;
    left: 20%;
}
.stars span:nth-child(10){
    top: 20%;
    left: 5%;
}


@keyframes stars-reveal{
    0%{opacity:0;}
    49%{opacity:0;}

    50%{opacity:0.3;}
    60%{opacity:0.5;}
    70%{opacity:0.8;}
    100%{opacity:0;}
}

@keyframes twinkle {
    0%, 100% {opacity: 1;}
    50% {opacity: 0.5;}
    
}
@keyframes sun_to_moon {
    0%,45% {
        background: radial-gradient(circle at 33% 33%, #ffe818, #d89b00);
        box-shadow: 0 0 50px rgba(253, 202, 15, 0.9);
        filter: brightness(100%);
        transform: scale(1.4);
    }

    50% {box-shadow: none; transform: scale(1);}

    51%, 95% { 
    background: radial-gradient(circle at 30% 30%, #f0f4ff, #9aa7c7); 
    box-shadow: 0 0 40px rgba(190, 207, 255, 0.7);;
    transform: scale(1);
    }
    100% {box-shadow: none; transform: scale(0.7);}
}
@keyframes dayFade{
  0%{opacity:1;}
  20%{opacity:1;}
  40%{opacity:0.8;}
  50%{opacity:0.4;}
  60%{opacity:0.3;}
  70%{opacity:0;}
  80%{opacity:0;}
  90%{opacity:0.3;}
  100%{opacity:0.9;}
}
@keyframes nightFade{
  0%{opacity:0;}
  20%{opacity: 0;}
  40%{opacity:0.2;}
  50%{opacity:0.7;}
  60%{opacity:0.9;}
  70%{opacity:1;}
  80%{opacity:0.9;}
  90%{opacity:0.9}
  100%{opacity:0.3s;}
}